@import "tailwindcss";
.scroll::-webkit-scrollbar{
  display: none;
}

.gpu-boost {
  will-change: transform, opacity;
  transform: translate3d(0, 0, 0); 
  backface-visibility: hidden; 
  perspective: 1000px;
}

